<!doctype html>
<html>
    <head>
        <title>eatery</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href = '/dashboard'>Home</a></li>
                    <li><a href = '/list'>Let's Eat!</a></li>
                    <li><a href = '/logout'>Logout</a></li>
                </ul>
            </nav>
        </header>
        <div>
            <img src ='/images/<%= data.Image %>.png' height="500" width="500">
        </div>
        <table>
            <td><button>Pass</button></td>
            <td><button>Yes!</button></td>
        </table>
    </body>
</html>