<html>
  <head>
    <title>
      Eatery
    </title>
  </head>
  <body>
    <h2>Edit Dish</h2>
    <form action="/edit/dish/add" method="post">
      <fieldset>
        <label for="Name">Name</label>
        <input name="Name" type="text" placeholder="Name">
    
        <label for="Price">Price</label>
        <input name="Price" type="text" placeholder="Price">
    
        <label for="Cuisine">Cuisine</label>
        <input name="Cuisine" type="text" placeholder="Cuisine">
    
        <button type="submit">Add Dish</button>
      </fieldset>
    </form>
  </body>
</html>