<!doctype html>
<html>
    <head>
        <title>eatery</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href = '/edit'>Home</a></li>
                    <li><a href = '/logout'>Logout</a></li>
                </ul>
            </nav>
        </header>
        <div>
            <button><a href= '/edit/restaurant'>Restaurant</a></button>
            <button><a href= '/edit/dish'>Dish</a></button>
        </div>
    </body>
</html>