<!doctype html>
<html>
    <head>
        <title>Eatery</title>
    </head>
    <body>
        <h3>Please Sign In</h3>
        <form method="POST">
            Username:
            <input type="text" name="Username">
            <br>
            Password:
            <input type="password" name="Password">
            <br>
            <%= err.err %>
            <br>
            <input type="submit" value="Sign In">
            <button><a href="/register">Register</a></button>
        </form>
    </body>
</html>