<!doctype html>
<html>
    <head>
        <title>Eatery</title>
    </head>
    <body>
        <h3>Please Sign In</h3>
        <form>
            Username:
            <input type="text" name="Username">
            <br>
            Password:
            <input type="password" name"Password">
            <button><a href = '/dashboard'></a></button>
        </form>
    </body>
</html>