<!doctype html>
<html>
    <head>
        <title>eatery</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href = '/edit'>Home</a></li>
                    <li><a href = '/logout'>Logout</a></li>
                </ul>
            </nav>
        </header>
        <div>
            <form method="POST">
                Name: <input type="text" name="Name"><br>
                City: <input type="text" name="City"><br>
                Address: <input type="text" name="Address"><br>
                Latitude: <input type="text" name="Latitude"><br>
                Longitude: <input type="text" name="Longitude"><br>
                <input type="submit" value="Submit">
            </form>
            <br>
            <button><a href='/edit/restaurant'>Back</a></button>
        </div>
    </body>
</html>